a {
  color: #8a04d9;
}
.site-header {
  //margin: 0 0 60px;

  @media only screen and (max-width: 600px) {
    padding-top: 0;
  }

  .site-title-wrapper {
    //display: initial;
    display: flex;
    align-items: center;

    .site-logo {
      margin-right: 3em;
    }
  }
}

.post-header {
  text-align: left;
  padding: 0 8px 20px;
  text-transform: initial;
  border-bottom: 1px dashed #8a04d9;
  margin-bottom: 60px;
  font-size: 7vh;

  @media screen and (orientation: portrait) {
    font-size: 7vw;
  }

  color: #8a04d9;
  //text-shadow: #fffd00 .1em .05em .1em;

  .post-title {
    text-align: left;
    text-transform: initial;
    font-size: 12vh;

    @media screen and (orientation: portrait) {
      font-size: 12vw;
    }
  }
}

.site-title a, .button-square {
  font-size: 22px;
  background: #8a04d9;
  padding: 5px 10px 6px;
  text-transform: initial;

  @media only screen and (max-width: 600px) {
    float: left;
  }
}

.privacy-policy {
  text-align: center;

  a {
    color: #8a04d9;

  }
}

.button-square {
  margin-left: 0;
  border-left: #fffd00 dashed 1px;
}

.post-stub {
  a {
    color: #8a04d9;

    h4, time {
      text-decoration: #fffd00 underline 1px;
    }
  }

  border-bottom: 1px dashed #8a04d9;
  text-decoration: #fffd00 underline 3px;
  text-shadow: #fffd00 .1em .05em .1em;
}

body, h4 {
  font-size: 22px;
}

h3 {
  font-size: 26px;
}

pre {
  font-size: 20px;
}
