            </div>
        </div>

        <footer class="footer">
            <div class="container">
                <div class="site-title-wrapper">
                    <h1 class="site-title">
                        <a title="{{ .Site.Title }}" href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
                    </h1>
                    <a class="button-square button-jump-top js-jump-top" href="#">
                        <i class="fa fa-angle-up"></i>
                    </a>
                </div>

                <p class="footer-copyright">
                    <span>&copy; {{ .Site.LastChange.Format "2006"}} Michał Kardyś</span>
                </p>
            </div>
        </footer>


            <script src="{{ .Site.BaseURL }}js/jquery-1.11.3.min.js"></script>
            <script type="text/javascript" src="//ciasteczka.eu/cookiesEU-latest.min.js"></script>
            <script type="text/javascript">

              jQuery(document).ready(function(){
                console.log('test');
                jQuery.fn.cookiesEU({
                  box_css: 'position: fixed; bottom:0;',
                  position: 'bottom',
                  auto_accept: false,
                  text: 'Nasza strona internetowa używa plików cookies (tzw. ciasteczka) w celach statystycznych, reklamowych oraz funkcjonalnych. Dzięki nim możemy indywidualnie dostosować stronę do twoich potrzeb. Każdy może zaakceptować pliki cookies albo ma możliwość wyłączenia ich w przeglądarce, dzięki czemu nie będą zbierane żadne informacje. '

                });
              });

            </script>
        <script src="{{ .Site.BaseURL }}js/jquery.fitvids.js"></script>
        <script src="{{ .Site.BaseURL }}js/scripts.js"></script>
    </body>
</html>
